<section class="nevbar">
    <div ng-if="token != null" class="col-md-6 menu">
        <a href="#/index">Inicio</a>
        <a href="#/profile">Perfil</a>
        <a ng-click="logOut()">Cerrar Sesión</a>
    </div>
    <div ng-if="token == null" class="col-md-6 menu">
        <a href="#/signUp">Registrarse</a>
        <a href="#/login">Iniciar Sesión</a>
    </div>
</section>
<div class="conten">
    <div class="col-md-10 offset-md-1">
        <!-- Crear POST -->
        <div class="row">
            <input type="text" class="form-control col-md-6" ng-model = "post.title" placeholder="Titulo deol Post">
            <input type="file" class="col-md-6 glyphicon glyphicon-camera" name="imagen" file-model = 'myFile'>
        </div>
        <div class="row">
            <input type="text" class="form-control col-md-10" ng-model = "post.body" placeholder="Contenido">
            <button class="col-md-2 btn btn-primary" ng-click="uploadFile()">Submit</button>
        </div>
    </div>
    <!-- Ver posts -->
    <div class="post col-md-8 offset-md-2" ng-repeat="r in respuesta">
        <a href=""></a>
        <div>
            <div ng-if="r.imagen_url" class="row">
                <div class="image col-md-5 offset-md-1">
                    <img src="/imagenes/{{r.imagen_url}}" alt="Imagen" width="100%">
                </div>
                <div class="content col-md-5 offset-md-1">
                    <h3 class="col-md-8">{{r.title}}</h3>
                    <p class="col-md-12">{{r.body}}</p>
                    <div>
                        <div class="coments" ng-repeat="c in coments">
                            <div ng-if="r.id==c.id">
                                <p>{{c.coment}}</p>
                                <div class="likes" ng-repeat="li in likComent">
                                    <div ng-if="c.coment_id==li.id">
                                        <p>{{li.val}} Likes</p>
                                        <button class="btn-secondary" ng-click="likeComment(c.coment_id)">Like</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control col-md-12" ng-model = "coment.title" placeholder="titulo">
                    <input type="text" class="form-control col-md-12" ng-model = "coment.body" placeholder="Contenido">
                    <input type="file" class="col-md-6" name="imagen" file-model = 'comentFile'>
                    <div class="content buttons">
                        <section>
                            <div class="likes" ng-repeat="l in likPost">
                                <div ng-if="r.id==l.id">
                                    <p>{{l.val}} Likes</p>
                                </div>
                            </div>
                            <div class="col-md-8 content buttons">
                                <button class="btn-secondary" ng-click="likePost(r.id)">Like</button>
                                <button class="btn-secondary" ng-click="uploadComentFile(r.id)">Comentar</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div ng-if="r.imagen_url == null" class="row">
                <div class="content">
                    <h3 class="col-md-8">{{r.title}}</h3>
                    <p class="col-md-12">{{r.body}}</p>
                    <div>
                        <div class="coments" ng-repeat="c in coments">
                            <div ng-if="r.id==c.id">
                                <p>{{c.coment}}</p>
                                <div class="likes" ng-repeat="li in likComent">
                                    <div ng-if="c.coment_id==li.id">
                                        <p>{{li.val}} Likes</p>
                                        <button class="btn-secondary" ng-click="likeComment(c.coment_id)">Like</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control col-md-12" ng-model = "coment.title" placeholder="titulo">
                    <input type="text" class="form-control col-md-12" ng-model = "coment.body" placeholder="Contenido">
                    <input type="file" class="col-md-6" name="imagen" file-model = 'comentFile'>
                    <section>
                        <div class="likes" ng-repeat="l in likPost">
                            <div ng-if="r.id==l.id">
                                <p>{{l.val}} Likes</p>
                            </div>
                        </div>
                        <div class="col-md-8 content buttons">
                            <button class="btn-secondary" ng-click="likePost(r.id)">Like</button>
                            <button class="btn-secondary" ng-click="uploadComentFile(r.id)">Comentar</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>